<template>
	<div id="containerdiv">
		<div class="svgdiv">
			<svg
				id="svg"
				xmlns="http://www.w3.org/2000/svg"
				@click.left="svgLeftClick"
				@click.right="svgRightClick"
				@mousemove="svgMouseMove"
				@mouseup="svgMouseUp($event)"
			>
				<g>
					<!-- Arrows that are part of the graph (as opposed to currently being placed) -->
					<line
						v-for="arrow in myGraph.arrows"
						:key="arrow"
						:x1="myGraph.vertices[arrow.source].x"
						:y1="myGraph.vertices[arrow.source].y"
						:x2="myGraph.vertices[arrow.target].x"
						:y2="myGraph.vertices[arrow.target].y"
					/>
					<circle
						v-for="(vertex, id) in myGraph.vertices"
						:key="vertex"
						:cx="vertex.x"
						:cy="vertex.y"
						r="10"
						stroke="black"
						:style="{ position: 'absolute', fill: circleStatusColor(id) }"
						@mousedown.left="circleMouseDown($event, id)"
						@click="circleClick($event, id)"
						@dblclick="circleDblClick($event, id)"
					/>
				</g>
			</svg>
		</div>
		<div class="svgdiv">
			<table id="settingsdiv" v-if="uiState.viewingSettings != -1"> 
				<tr
					v-for="(setting, id) in myGraph.vertices[uiState.viewingSettings]
						.settingList"
					:key="setting"
				>
					<td>{{ setting.description }}</td>
					<td v-if="typeof setting.value == 'boolean'">
						<input type="checkbox" v-model="setting.value" />
					</td>
					<td v-if="typeof setting.value == 'string'">
						<input type="text" v-model="setting.value" />
					</td>
					<td v-if="typeof setting.value == 'number'">
						<input type="number" v-model="setting.value" />
					</td>
				</tr>
				<tr>
					<td>
						<input
							type="button"
							class="mybutton"
							value="Close"
							@click="uiState.viewingSettings = -1"
						/>
					</td>
				</tr>
			</table>
		</div>
		<div class="svgdiv">
			<textarea id="json-display" v-bind:value="myGraph.toJSON()"></textarea>
		</div>
	</div>
</template>

<script lang="ts">
// @ts-ignore
import { MyGraph } from './DiGraph.ts';
import { defineComponent } from 'vue';

/**
 * @typedef The data needed to determine the state of a graph UI
 */
interface IUIState {
	/**
	 * @property dragging -1 == not in the state of dragging, otherwise the id of the number being dragged
	 */
	dragging: number;
	/**
	 * @property -1 == not in the state of creating an arrow, otherwise the id of the arrow's source
	 */
	creatingArrow: number;
	/**
	 * @property -1 == not in state of viewing settings menu, otherwise id
	 */
	viewingSettings: number;
	/**
	 * @property current mouse coords
	 */
	x: number;
	y: number;
}

export default defineComponent({
	name: 'SvgGraph',
	data(): { myGraph: MyGraph; uiState: IUIState } {
		return {
			myGraph: new MyGraph(),
			uiState: {
				dragging: -1,
				creatingArrow: -1,
				viewingSettings: -1,
				x: 0,
				y: 0,
			},
		};
	},
	props: {},
	methods: {
		mounted(): void {},
		svgLeftClick(e: MouseEvent) {
			e.preventDefault();
			this.uiState.creatingArrow = -1;
		},
		svgRightClick(e: MouseEvent) {
			e.preventDefault();
			this.myGraph.addVertex(
				'default',
				Math.round(e.offsetX), // can increase precision later if we want!
				Math.round(e.offsetY)
			);
			this.uiState.creatingArrow = -1;
		},
		svgMouseMove(e: MouseEvent) {
			this.uiState.x = Math.round(e.offsetX);
			this.uiState.y = Math.round(e.offsetY);
			if (this.uiState.dragging != -1) {
				this.myGraph.vertices[this.uiState.dragging].x = Math.round(e.offsetX);
				this.myGraph.vertices[this.uiState.dragging].y = Math.round(e.offsetY);
			}
		},
		svgMouseUp(e: MouseEvent) {
			e.preventDefault();
			this.uiState.dragging = -1;
		},
		circleStatusColor(id: number): string {
			if (this.uiState.creatingArrow == id) {
				return 'lightgray';
			}
			return 'black';
		},
		circleMouseDown(e: MouseEvent, id: number) {
			e.preventDefault();
			this.uiState.dragging = id;
			e.stopPropagation();
		},
		circleClick(e: MouseEvent, id: number) {
			e.preventDefault();
			this.uiState.dragging = -1;
			if (this.uiState.creatingArrow != -1) {
				this.myGraph.addArrow(this.uiState.creatingArrow, id);
				this.uiState.creatingArrow = -1;
			} else {
				this.uiState.viewingSettings = id;
			}
			e.stopPropagation();
		},
		circleDblClick(e: MouseEvent, id: number) {
			e.preventDefault();
			if (this.uiState.creatingArrow != -1) {
				this.myGraph.addArrow(this.uiState.creatingArrow, id);
				this.uiState.creatingArrow = -1;
			} else {
				this.uiState.creatingArrow = id;
			}
			e.stopPropagation();
		},
	},
	computed: {},
	components: {},
});
</script>

<style scoped>
* {
	font: 15px Calibri Light;
}
#containerdiv {
	display: flex;
	flex-direction: row;
}
.svgdiv {
	width: 500px;
}
#svg {
	width: 500px;
	height: 500px;
	/*position: relative;*/
	border: 3px black dotted;
}
#settingsdiv {
	margin-left: 20px;
	padding-left: 20px;
	font: 15px Calibri Light;
	border: 3px black dashed;
}
line {
	stroke: black;
	stroke-width: 2;
}
.mybutton {
	font: 10px Calibri Light;
	background-color: white;
}
#json-display {
	width: 500px;
	height: 400px;
}
</style>
