<template>
	<div>
		<SvgGraph />
	</div>
</template>

<script lang="ts">
import { Options, Vue } from 'vue-class-component';
import SvgGraph from './components/SvgGraph.vue';

@Options({
	components: {
		SvgGraph,
	},
})
export default class App extends Vue {}
</script>

<style>
#app {
	font-family: Avenir, Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: #2c3e50;
	width: 500px;
	height: 500px;
}
</style>
